<div class="jumbotron">
  <h1 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h1>
  <p class="lead">
    <%= @friend.email %> | <%= @friend.phone %> | <%= @friend.twitter %>
  </p>
  <hr class="my-4">
  <div class="d-flex mt-3">
    <div class="mx-1">
      <%= link_to "Edit", edit_friend_path(@friend), class:"btn btn-primary mr-3" %>
    </div>
    <div class="mx-1">
      <%= button_to "Remove", @friend, method: :delete, class:"btn btn-danger" %>
    </div>
    <div class="mx-1">
      <%= link_to "Back to friends", friends_path, class:"btn btn-dark" %>
    </div>
  </div>
</div>