<div class="card">
  <h5 class="card-header">Forgot your password?</h5>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group mb-3">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
      </div>
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
<div class="mt-4">
  <%= render "devise/shared/links" %>
</div>
